<!--
  Generated template for the TrainIntegralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>积分规则说明</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <button ion-item (tap)="loadModal('SearchStorePage')">
      <ion-label>{{store ? store.Store_Name : '选择门店'}}</ion-label>
    </button>
    <button ion-item [class.highlight]="waiter">
      <ion-label>{{waiter ? waiter : '人员选择'}}</ion-label>
      <ion-select [(ngModel)]="waiter" (ngModelChange)="getSelectWaiterID()" multiple="true" okText="确定" cancelText="取消" [selectOptions]="{title: '人员选择'}">
        <ion-option *ngFor="let item of waiterList;">{{item.Waiter_Name}}</ion-option>
      </ion-select>
    </button>
  </ion-list>
  <ion-textarea [(ngModel)]="remarks" class="remarks" maxlength="200" placeholder="备注"
    required></ion-textarea>
  <section class="task-tips">
    规则说明
  </section>
  <button ion-button block (tap)="submit()" *ngIf="type == 1">提交</button>
  <button ion-button block (tap)="update()" *ngIf="type == 2">更新</button>
</ion-content>
